html, body {
	width:100%;
	height:100%;
	margin:0px;
}

/*
COLOR SCHEME
#A1C6D9 lightblue for buttons and icons
#797979 lightgreyish for text
#1D1E1F darkgrey for general color backgrounds
#FFFFFF white to contrast the words with a lightblue background
*/


nav {
	position:absolute;
	width:100%;
	display:flex;
	justify-content: space-around;
	color:white;
}

nav .leftHeader {
	display:flex;
}

nav .leftHeader h2 {
	margin: 15px 0px 10px 0px;
	font-family:'Open Sans';
}

nav ul {
	display:flex;
	margin:0px;
	list-style-type: none;
	font-family:'Open Sans';
}
    
nav li {
	margin:20px 15px 0px 15px;
	padding:0px;
	border-bottom:1px solid transparent;
	cursor: pointer;
	transition: .5s;
}

nav li:hover {
	color:#A1C6D9;
	border-bottom:1px solid #A1C6D9;
	transition: .5s;
}

main {
	width:100%;
	height:100%;
	background-image: url(../img/mainbackground.jpg);
	background-size:cover;
}

main .overlay {
	width:100%;
	height:100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.55) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	color:#FFF;
}

main .overlay h1 {
	margin:0px;
	font-size:65px;
	font-weight: 700;
}

.overlay .introMain {
	width:500px;
	text-align: center;
}

.introMain .smallHeading {
	margin:0px;
	font-weight: 700;
	font-size:25px;
}

.introMain .headingIntro {
	margin:10px 0px 0px 0px;
	line-height: 30px;
	font-size:.9em;
}

.introMain .learnMore {
	cursor:pointer;
	margin:20px 30px 0px 0px;
	padding: 10px;
	width:170px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	color:white;
	font-family: 'Open Sans';
	font-size:1.1em;
	border:1px solid white;
	transition: .5s;
}

.learnMore:hover {
	background-color:#A1C6D9;
	border-color:#A1C6D9;
	color:white;
}